
<form [formGroup]="formulaire">
  <p>
    <input type="text" formControlName="nom" placeholder="nom">
  </p>
  <p>
    <input type="password" formControlName="psw" placeholder="psw">
  </p>
  <p>
    <input type="text" formControlName="lastname" placeholder="lastname">
  </p>
  <p>
    <input type="email" formControlName="email" placeholder="email">
  </p>
  <p>
    <input type="date" formControlName="birthdate" placeholder="birthdate">
  </p>
  <p>
    <label for="genderChoice1">Homme</label>
    <input type="radio" id="genderChoice1" formControlName="sex" value="false">

    <label for="genderChoice2">Femme</label>
    <input type="radio" id="genderChoice2" formControlName="sex" value="true">
  </p>
  <button (click)="createClient()" [disabled]="formulaire.invalid">Inscription</button>
</form>
